* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 90vw;
    padding: 1vh;
    display: flex;
    justify-content: center;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 80vw;
    border: solid 1px;
}

.formulario__input {
    padding: 2vh;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.field {
    display: inline-block;
    width: 100vh;
}

input {
    width: 90vh;
    height: 5vh;
}

.listado {
    padding: 3vh 0;
    border: solid 1px;
    width: 80vw;
    margin: auto;
}

.item__persona {
    display: flex;
    gap: 1vh;
    padding: 1vh 1vh;
}

.button {
    width: 25vw;
    margin: 1vh auto;
}

.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.busqueda {
    display: flex;
    align-items: center;
    width: 25%;
    margin: auto;
    padding: 5vh 0;
}

.busqueda__button {
    border: none;
    width: fit-content;
}
